<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coding.zxm.umeng">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <!--明确引用org.apache.http.legacy库，避免QQ官方open sdk在Android 9上报错 -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.ImageShareActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--必须声明-->
        <!--weixin：主工程-->

        <!--dingding：主工程-->

        <!--weibo-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>