<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coding.zxm.wanandroid">

    <!--需要申请如下权限-->

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.WanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<meta-data
            android:name="UMENG_APPKEY"
            android:value="5f55deda3739314483bca2df" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />-->

        <!--登录-->
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--主页-->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--搜索-->
        <activity
            android:name=".search.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--知识体系-->
        <activity
            android:name=".system.KnowledgeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--知识专题文章列表-->
        <activity
            android:name=".system.KnowledgeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--导航-->
        <activity
            android:name=".navigation.NavigationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--导航-->
        <activity
            android:name=".project.ProjectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--关于-->
        <activity
            android:name=".ui.activity.AboutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--设置字体大小-->
        <activity
            android:name=".ui.activity.FontScaleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <!--TODO:分享功能：必须声明-->
        <!--weixin-->
        <activity
            android:name="com.coding.zxm.wanandroid.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--dingding-->
        <activity
            android:name="com.coding.zxm.wanandroid.ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--qq-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1110995000" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tencent.wanandroid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>